body {
    background-image: url("../img/background.png");
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    padding: 2% 0 3% 3%;

}

div.karte {
    width: 280px;
    height: 350px;
    margin: 0 10px 0 10px;
    text-align: center;
    background-color: rgba(228, 180, 180, 0.7);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
}
table {
    padding: 10px;
    width: 300px;
}



div.link{
    position: absolute;
    top: 405px;
    left: 85px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(228, 180, 180, 0.7);
}

div.link2{
    position: absolute;
    top: 760px;
    left: 85px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(228, 180, 180, 0.7);
}
