@font-face {
    font-family: Bungee;
    src: url(../font/Bungee/Bungee-Regular.ttf);
}

@font-face {
    font-family: Syncopate;
    src: url(../font/Syncopate/Syncopate-Regular.ttf);
}

@font-face {
    font-family: Syncopate-bold;
    src: url(../font/Syncopate/Syncopate-Bold.ttf);
}

body {
    background-color: rgb(80, 80, 80);
    font-family: Syncopate-bold;
}

.titel {
    text-align: center;
    margin-top: 2.5%;
    font-size: 150%;
    font-weight: bold;
}

a:link,
a:visited {
    color: black;
}

a:hover,
a:active {
    color: hotpink;
}

.UI_elemente {
    width: 96%;
    float: left;
    display: inline-flex;
    margin: 2%;
}

.UI_sammlung,
.UI_vorschau,
.UI_ansicht {
    float: left;
    width: 32%;
    margin-right: 2%;
    padding: 20px;
    background: #eee;
    box-sizing: border-box;
    text-align: center;
}

.UI_ansicht {
    margin-right: 0;
}


/*

.UI_Sammlung,
.UI_Vorschau,
.UI_Ansicht {
    padding-left: 16%;
    padding-right: 16%;
    float: inherit;
    width: 32%;
    border-width: 2px;
    border-style: solid;
}



#UI_Sammlung {
    float: inherit;
}
#UI_Vorschau {
    float: inherit;
}
#UI_Ansicht {
    float: inherit;
}
*/